body{
    background-color: #fafafa;
}
.container{
    margin-top: 150px;
    width: 500px;
    height: 700px;
    background-color: rgb(248,248,248);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.1);
    
}

form{
    padding-top: 50px;
}
input[type="text"]:focus,
input[type="password"]:focus,
#phone:focus,
.iti__selected-flag:focus,
input[type="email"]:focus{
    border-color: rgba(128, 189, 255, .8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(128, 189, 255, .6);
    outline: 0 none;
}

h4{
    text-align: center;
    padding-top: 20px;
}
p{
    display: inline-block;
    margin-top: 50px;
}

.login{
    margin-left: 20px;
    
}

@media only screen and (max-width:1200px){

    .container{
        margin-top: 120px;
       
        
    }
    
}

@media only screen and (max-width:600px){

    .container{
        margin-top: 0;
        margin-bottom: 50px;
        width: 310px;
        height: 650px;
        margin-top: 80px;
       
        
    }
    
}